<% provide(:title, "Home") %>
<div class="jumbotron">
  

<h1>Welome to Crededx</h1>
 
  <% if user_signed_in? %>
      
     <% else %>
     
  
  <% end %>  
 
<p>
  This is the Home page for the
  <a href="http://www.onemonthcredit.com/">One Month Credit</a>
   application.
    <%= link_to "Sign up", new_user_registration_path , class: "btn btn-default btn-lg" %>
</p>

  </div>
 
  